.App {
  font-family: sans-serif;
  text-align: center;
}

.profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.App>div:nth-child(1)>.profile-pic {
  border-radius: 0px;
}